.dark-background{
    background-color: #1f2937;
    height: 400px;
}

.container{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin: 50px 0;
    align-items: center;
    
}

.column{
    flex-direction: column;
}

.square-dummy-image{
    width: 250px;
    height: 250px;
    
}

.qoute-section{
    height: 300px;
    background-color: #e5e7eb;
    padding: 0px 100px;
}

.author{
    align-self: flex-end;
    white-space: nowrap;
    padding-bottom: 10px;
    padding-right: 200px;
}

.center-align{
    text-align: center;
}

.qoute{
    font-style: italic;
    color: #1f2937;
    font-size: 36px;
}

.container-different{
    display: flex;
    align-items: center;
}

.left{
    margin-left: 200px;
}

.right{
    margin-right: 200px;
}

body>div{
    padding: 5px;
}

.main-text{
    color: #f9faf8;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 5px;
}

.header-logo{
    font-size: 24px;
    color: #f9faf8;
    padding-top: 0;
    margin-top: 0;
}

.hero-secondary-text, .header-link-text{
    font-size: 18px;
    color: #adaeb1;
}

.information-header-text{
    font-size: 36px;
    font-weight: bolder;
    color:#1f2937
}

.header-link-text{
    padding-top: 0;
    text-decoration: none;
}
.button{
    background-color: #3882f6;
    border-radius: 4px;
    padding: 3px;
    text-align: center;
    width: 75px;
    height: 20px;
    color: #f9faf8;
    font-weight: bold;
}

.nav-bar{
    display: flex;
    justify-content: space-between;    
}

h2{
    margin-left: 200px;
}

ul{
    margin-top: 0;
    margin-right: 200px;
    list-style: none;
}

.container-left{
    display: flex;
    flex-direction: column;
    width: 20%;
}

li{ 
    display: inline;
    padding-left: 4px;
}

body{
    margin: 0;
}
ul, .header-logo{
    margin-top: 6px;
    padding:0 4px;
}